 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
   font: 25px  oblique;
}
.navbar{
    background-color: rgb(0, 0, 0)
}

.quem-somos{
    padding-bottom: 10px;
    background-color: black;
    color:white;
}

.servicos{
    color: white;
    background-color: darkblue;
}
.margin{
    padding-bottom: 50PX;
    padding-top: 10px;
}
.parceiros{
   font-size: 60px;
   color: rgb(70, 58, 134);
   background-color: rgb(252, 252, 252)
} 

.bg-footer{
    color: white;
    background-color: rgb(0, 0, 0);
}  

 


    

  
  
   


